/* css/main.css */

/* 1. Base */
@import url(/src/vanderson/css/base/reset.css);
@import url(/src/vanderson/css/base/variables.css);

/* 2. Componentes */
@import url(/src/vanderson/css/components/buttons);
/* @import url('components/header.css');
/* @import url('components/forms.css');

/* 3. Layout */
/* @import url('layout/grid.css');
/* @import url('layout/container.css');
/* @import url('layout/sections.css');

/* 4. Páginas específicas */
/* @import url('pages/dashboard.css');

/* 5. Utilitários (opcional) */
/* @import url('utils/utilities.css');