body {
    background: #e0f7fa; /*Fundo com cor */
    color: #222
}

header h1 {
    font-size: 2.5rem;
    color: #00695c;
    text-align: center;
}

main {
    background: #ffffff;
    padding: 6rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    text-align: center;
}

button.option {
    background: #00897b; /*cor diferente para os botoes */
}

button.option:hover {
    background: #004d40;
}