body {
    background: #222; /*Fundo com cor */
    color: #222
}

header h1 {
    font-size: 2.5rem;
    color: #e0d42c;
    text-align: center;
}

main {
    background: #ffffff;
    padding: 3rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    text-align: center;
}

button.option {
    background: #e0d42c; /*cor diferente para os botoes */
}

button.option:hover {
    background: #b8ae21;
}