body {
    background: #222; /*Fundo com cor */
    color: #222;
    font-family: Tahoma;
}

header h1 {
    font-size: 2.5rem;
    color: #e0d42c;
    text-align: center;
}

main {
    background: #ffffff;
    padding: 3rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    text-align: center;
}

.fonte {
    padding: 1rem; /* espaço interno pro texto "respirar" */
    margin-bottom: 0.8rem; /* espaço entre o bloco e outro */
    border: 1px solid #ddd; /* borda para separar visual */
    border-radius: 6px; /* cantos arredondados */
    font-size: 1.1rem; /* tamanho da fonte */
}

.fonte-arial {
    font-family: Arial;
}

.fonte-tahoma{
    font-family: Tahoma;
}
.fonte-trebuchet{
    font-family: Trebuchet;
}

.btn-voltar{
display: inline-block;
padding: 0.75rem 1.4rem;
background: #e0d42c;
color: #222;
text-decoration: none;
border-radius: 8px;
font-weight: bold;
cursor: pointer;
transition: 0.2s ease;
}

.btn-voltar:hover { /* Efeito de passar o mouse */
background: #bbb122;
transform: translateY(-2px);
}

button.option {
    background: #e0d42c; /*cor diferente para os botoes */
}

button.option:hover {
    background: #b8ae21;
}