body {
    background: #222; /*Fundo com cor */
    color: #222
}

header h1 {
    font-size: 2.5rem;
    color: #e0d42c;
    text-align: center;
}

main {
    background: #ffffff;
    padding: 3rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    text-align: center;
}

.btn-voltar{
display: inline-block;
padding: 0.75rem 1.4rem;
background: #00897b;
color: #ffffff;
text-decoration: none;
border-radius: 8px;
font-weight: bold;
cursor: pointer;
transition: 0.2s ease;
}

.btn-voltar:hover { /* Efeito de passar o mouse */
background: #004d40;
transform: translateY(-2px);
}

button.option {
    background: #e0d42c; /*cor diferente para os botoes */
}

button.option:hover {
    background: #b8ae21;
}